@{
    ViewData["Title"] = "Posts";
}

<p>
    @Html.ActionLink("Novo", "Form", "Post")
</p>

<div class="text-center">
    <h1 class="display-4">Hello my first application</h1>
    <p>Congratulations for you!</p>
</div>
